@import "tailwindcss";
.nav-link {
  @apply text-gray-700 font-medium relative after:absolute after:-bottom-1 after:left-0 after:w-0 after:h-[2px] after:bg-black hover:after:w-full after:transition-all hover:text-black;
}
