@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400&display=swap");
@import "tailwindcss";



@theme {
  --color-primary: #111111;      /* Premium black */
  --color-secondary: #F9FAFB;    /* Clean background */
  --color-accent: #8AB6D6;       /* Soft skincare blue */
  --color-danger: #C94A4A;       /* Beauty red */
  --font-fancy: "Open Sans", sans-serif;
}



